* {
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 26, 53);
    color: rgb(238, 238, 255);
    font-size: 20px;
    font-family: Atkinson, sans-serif;
    padding: 12px 28px;
}

h1 {
    font-weight: 800;
    margin: 0px 0px 16px 0px;
    letter-spacing: 0px;
    transition-duration: 200ms;
    user-select: none;
    width: fit-content;
    cursor: pointer;
}

h1:hover {
    color: rgb(115, 176, 255);
    transition-duration: 200ms;
}

h1:active {
    letter-spacing: -8px;
    color: rgb(255, 150, 52);
    transition-duration: 100ms;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#input {
    background-color: #fff1;
    padding: 20px;
    width: 500px;
    min-width: 500px;
}

#links {
    position: absolute;
    top: 30px;
    right: 40px;
}

.info {
    font-size: 12pt;
    color: #aaa;
}

a {
    color: rgb(126, 255, 255);

}

textarea {
    background-color: #fff1;
    color: white;
    border: none;
    padding: 5px;
    font-size: 16px;
    width: calc(100% - 15px);
    resize: vertical;

}

input[type=checkbox] {
    transform: scale(1.4);
    accent-color: rgb(115, 176, 255);
}

#auto_update {
    margin-left: 15px;
    margin-right: 5px;
}

button {
    font-size: 20px;
    font-family: Atkinson, sans-serif;
    border: none;
    background-color: rgb(115, 176, 255);
    padding: 4px 8px;
    border-radius: 3px;
}

#output {
    background-color: #fff1;
    padding: 20px;
    word-wrap: break-word;
    width: 500px;
}

.packername {
    font-weight: bold;
    color: rgb(115, 176, 255);
}

.code {
    font-family: "Consolas", monospace;
    display: block;
    white-space: pre-wrap;
}

@font-face {
    font-family: Atkinson;
    src: url(AtkinsonHyperlegible.ttf);
}

.failure {
    background-color: #ff000044;
}

.failure_header {
    font-weight: bold;
    color: rgb(115, 176, 255);
    background-color: #ff000044;
}

fieldset {
    /* css go br instead of html go br */
    margin-bottom: 20px;
}

label,
input,
button {
    cursor: pointer;
    user-select: none;
}

fieldset label {
    display: inline-block;
    width: 400px;
    user-select: none;
}

fieldset label:hover {
    color: rgb(177, 211, 255);
}

fieldset label:active {
    color: rgb(59, 144, 255);
}

a {
    text-decoration: none;
}

a img {
    width: 40px;
    margin-left: 10px;
    transition-duration: 100ms;
}

a img:hover {
    transform: scale(120%);
    transition-duration: 100ms;
}